a{
    color: #8CA1A5;
    margin:10px 20px 10px 20px;
    text-decoration: none;
}
a:hover{
    color:#9A9483
}
.btn{

}
body{
    margin: 0;
    text-align: center;
    font-family:'Merriweather Sans',sans-serif;
}

.btn {
  background: #F3F0D7;
  background-image: -webkit-linear-gradient(top, #F3F0D7, #E9C891);
  background-image: -moz-linear-gradient(top, #F3F0D7, #E9C891);
  background-image: -ms-linear-gradient(top, #F3F0D7, #E9C891);
  background-image: -o-linear-gradient(top, #F3F0D7, #E9C891);
  background-image: linear-gradient(to bottom, #F3F0D7, #E9C891);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  color: #ada040;
  font-size: 20px;
  padding: 5px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #D8B6A4;
  background-image: -webkit-linear-gradient(top, #D8B6A4, #CEE5D0);
  background-image: -moz-linear-gradient(top, #D8B6A4, #CEE5D0);
  background-image: -ms-linear-gradient(top, #D8B6A4, #CEE5D0);
  background-image: -o-linear-gradient(top, #D8B6A4, #CEE5D0);
  background-image: linear-gradient(to bottom, #D8B6A4, #CEE5D0);
  text-decoration: none;
}
#c-bottom{
    color:#8A8635;
}
.contact-button{

    margin: 20px;
    font-size:150%;


}
#cloud2{
    position:absolute;
    left:24%;
    top:500px;
}
#cloud1{
    position:absolute;
    right:24%;
    margin-top: 0;

}
#cooking_img{
    flex: 0 0 215px;
    /*width: 25%;*/
    margin-right: 25px;
}
.top_container{
    background-color: #EFFFFD;
    padding-top: 100px;
}
.middle-container{
    background-color: whitesmoke;
    padding-top: 50px;
    padding-bottom: 50px;

}
.bottom-container{
    background-color: #F3F0D7;
    padding: 40px;
}

h1{
    width:300px;
    margin:50px auto 0 auto;
    font-family: "Courgette", cursive;
    font-size: 6rem;
    color: #87AAAA;
    line-height: 2;
}
h2{
    font-size: 2.5rem;
    color: #87AAAA;
    font-weight: normal;
}
h3{
    color:#8CA1A5
}
.breaker{
    border-style: dotted;
    border-width: 0 0 15px 0;
    margin: 50px auto 50px auto;
    width:70px;
    color: #F3D5C0;
}
p{
    color:#40514E;
    line-height: 2;
    padding: 20px;
}
.project_video_grid{
    /*padding-left: 150px;*/
    alignment: center;
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr 1fr;*/
    /*grid-gap: 1px;*/
}
.project_video{
    display: inline-block;
    width: 290px;
    height: 180px;
}
#selfie{
    width: 150px;
}
.school {
    text-decoration: underline;
    font-style: italic;
    font-size: larger;
}
.skill-row{
    width:60%;
    margin: 100px auto 100px auto;
    display: flex;
    text-align: left;
    line-height: 2;
}
.skill_intro{
    display: inline-block;
    width: 70%;
    /*float: right;*/
}
.skill1-img{
    /*position: relative;*/
    width: 25%;
    float:left;
    margin-right: 25px;
    /*margin-top: 50px;*/
}
.skill2-img{
    width:25%;
    /*float:right;*/
    margin-right: 25px;
    float:left;
}
#slides{
   padding-bottom: 20px;
    width: 100%;
    display: flex;
}
/*#slides > #google_slide{*/
/*    !*flex: 0 0 960;*!*/
/*    width: 100%;*/

/*}*/
.video_intro{

}
#water_fall{margin-top: 100px;
}
iframe[src*='docs.google.com']{
    width:100%;
    height: auto;
    aspect-ratio:16/9;
}